# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 2 space indentation
[*.ts]
indent_style = space
indent_size = 2

[*.vue]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
