# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 4 space indentation
[*.ts]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
